@import "../../../assets/variables";
.wrapper {
  height: auto;
  width: 100vw;
}
.polls-list {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dot {
  padding:10px;
}
.delete-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}
.delete-icon:hover {
  height: 25px;
  width: 25px;
}
//.dots-square {
//  height: 100%;
//  margin-right: 10px;
//}
//.dots-square:hover {
//  background-color: black;
//  opacity: 0.7;
//}
.title {
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}
.description {
  margin-top: 15px;
  margin-left: 15px;
  word-wrap: break-word;
  line-height: 1.4em;
}
.poll-block {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poll {
  height: 200px;
  margin-top: 35px;
  margin-left: 50px;
  width: 23vw;
  background-color: #F3F3F3;
  cursor: pointer;
  border: 1.5px solid white;
}
.poll:hover {
  border: 1.5px solid $darkblue;
  transition: 0.5s;
}
.header {
  color: #fff;
  display: flex;
  align-items: center;
  background-color: $darkblue;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 30%;
}
.mat-raised-button.mat-primary {
  background-color: $darkblue;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 60px;
  margin-left: 20px;
  margin-bottom: 50px;
}
