<section class="wrapper">
<app-navbar></app-navbar>
  <div class="poll-block">
    <ul class="polls-list">
      <li [routerLink]="poll.id" (click)="openPoll(poll)" class="poll" *ngFor="let poll of polls">
        <div class="header">
          <h1 class="title">{{poll.pollTitle || 'Untitled'}}</h1>
          <div (click)="deletePoll(poll)" class="dots-square">
            <h1 class="dot">. . .</h1>
          </div>
        </div>
        <div class="description">
          <h2>{{poll.pollDescription}}</h2>
        </div>
      </li>
    </ul>
    <button routerLink="create" (click)="createPoll(polls)" mat-raised-button color="primary">Add poll</button>
  </div>
</section>
