@import "../../../assets/variables";
.wrapper {
  height: auto;
  width: 100vw;
}
.polls-list {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.description {
  margin-top: 15px;
  margin-left: 15px;
  word-wrap: break-word;
  line-height: 1.4em;
}
.poll-block {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poll {
  height: 200px;
  margin-top: 35px;
  margin-left: 50px;
  width: 18vw;
  background-color: #F3F3F3;
  cursor: pointer;
  border: 1.5px solid white;
}
.poll:hover {
  border: 1.5px solid $darkblue;
  transition: 0.5s;
}
.header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkblue;
  width: 100%;
  height: 30%;
}
