<section class="question-new">
  <div class="panel">
    <img (click)="deleteQuestion()" class="delete-icon" src="../../assets/icons/garbage.svg" alt="garbage">
  </div>
  <div [formGroup]="questionFormGroup" class="question-options-block">
    <input [value]="title || ''" formControlName="title" class="question-title" placeholder="Enter title of your question">
    <ul [formGroup]="optionsFormGroup" class="options">
      <li *ngFor="let option of options">
        <img class="type-icon" [src]="currentQuestion.image || image" alt="type">
        <input [formControlName]="option.id" class="option" [value]="option.option || ''" placeholder="Enter option">
        <img (click)="deleteOption(option, options)" class="delete-icon" src="../../assets/icons/garbage.svg" alt="garbage">
      </li>
    </ul>
    <button (click)="addOption()" mat-raised-button color="primary">Add option</button>
  </div>
</section>
