@import "../../../../../assets/variables";
.questions-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  box-shadow: 0 0 11px rgba(0,0,0,.12);
  background-color: #fff;
  height: auto;
  margin-bottom: 50px;
}
.title {
  margin-top: 15px;
  width: 95%;
  height: 40px;
  font-size: 30px;
}
.title-inputs {
  border-top: 3px solid $darkblue;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  width: 80%;
}
textarea, input {
  border: 0.2px solid transparent;
  padding: 5px 0 5px 10px;
}
textarea:focus, input:focus {
  border: 0.5px solid $darkblue
}
textarea:hover, input:hover{
  border: 0.2px solid #d1d1d1;
}
.description {
  margin-top: 20px;
  width: 95%;
  margin-bottom: 15px;
  height: 40px;
  font-size: 16px;
}
.mat-raised-button.mat-primary {
  background-color: $darkblue;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.delete-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.question-type-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $darkblue;
  width: 50%;
  height:60px;
  margin-bottom: 50px;
}
.buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-type {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25%;
  height:75%;
  cursor: pointer;
  margin-right: 10px;
}
.left-arrow {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.icons {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 875px)  {
  .question-type-menu {
    flex-direction: column;
    height: auto;
  }
  .button-type {
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
  }
.left-arrow {
  margin-top: 15px;
}
}
