<section class="questions-section">
  <div *ngIf="isLoaded" class="form">
    <header class="poll-header">
      <div class="header-content">
        <span class="title">{{pollData.title}}</span>
        <span class="description">{{pollData.description}}</span>
      </div>
    </header>
    <div *ngFor="let question of questions" class="questions">
      <app-vote-question [questionForm]="questionsFormGroup.controls[question.id]" [question]="question"></app-vote-question>
    </div>
    <button (click)="sendAnswer()" mat-raised-button color="primary">Submit</button>
  </div>
</section>
