@import "../../../../../assets/variables";
.questions-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  box-shadow: 0 0 11px rgba(0,0,0,.12);
  background-color: #fff;
  height: auto;
  min-height: 50vh;
  margin-bottom: 50px;
}
.poll-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding-top: 30px;
  padding-bottom: 35px;
  width: 100%;
  background-color: $darkblue;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  height: 100%;
  width: 80%;
  color: #fff;
}
.title {
  font-size: 38px;
}
.description {
  margin-top: 25px;
  font-size: 18px;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.mat-raised-button.mat-primary {
  background-color: $darkblue;
  font-size: 20px;
  padding: 10px 30px;
  margin-bottom: 30px;
}
